<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FOOTER MACRO</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="https://kit.fontawesome.com/8cf596884a.js" crossorigin="anonymous"></script>


</head>
<body>
<div class="wrapper">
    {% macro footer(current_user) %}
        <footer class="footer">
            <div class="container">
                <div class="footer__row">
                    <div class="footer__copyright">
                        EWA | Educational web app Inc., 2020.
                    </div>
                    <div class="footer__contacts">
                        <div class="footer__contacts__link">
                            <a href="https://facebook.com/">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/facebook.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                        <div class="footer__contacts__link">
                            <a href="https://github.com/">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/github.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                        <div class="footer__contacts__link">
                            <a href="https://www.google.ru/">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/google-plus.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                        <div class="footer__contacts__link">
                            <a href="mailto: mail@mail.mail">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/iconmonstr-email-1.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                        <div class="footer__contacts__link">
                            <a href="https://www.instagram.com/">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/instagram.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                        <div class="footer__contacts__link">
                            <a href="https://telegram.org/">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/telegram.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                        <div class="footer__contacts__link">
                            <a href="https://twitter.com/">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/twitter.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                        <div class="footer__contacts__link">
                            <a href="https://vk.com/">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/vk.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                        <div class="footer__contacts__link">
                            <a href="https://www.youtube.com/">
                            <span class="footer__contacts__link__span">
                                    <img src="{{ url_for("static", filename='icon/youtube.svg') }}"
                                         alt="facebook">
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endmacro %}
</div>


</body>
</html>