<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create lesson</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="https://kit.fontawesome.com/8cf596884a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/course/lesson/createLesson.css') }}">
</head>
<body>

<div class="wrapper">

    {% from 'macro/headerMacro.html' import header %}
    {% from 'macro/footerMacro.html' import footer %}

    {{ header(current_user) }}


    <div class="content">
        <div class="container">

            <div class="lesson__courseName">{{ course.name }}</div>

            <form class="lesson" method="POST" action="{{ url_for("create_lesson", course_id=course.id) }}">


                <label class="lesson__label">Название урока</label>
                <input
                        type="text"
                        class="lesson__input"
                        name="lesson_name"
                        id="lesson_name"
                        placeholder="Введение"
                >


                <label class="lesson__label">Описание</label>
                <input
                        type="text"
                        class="lesson__input"
                        name="lesson_description"
                        id="description"
                        placeholder="Первый урок курса"
                >


                <label class="lesson__label">Сложность</label>
                <input
                        type="text"
                        class="lesson__input"
                        name="lesson_difficulty"
                        id="difficulty"
                        placeholder="1"
                >


                <input hidden type="text" name="courseId" value="{{ course.id }}">

                <button type="submit" class="lesson__btn">Создать</button>
                <a href="{{ url_for('course_home_page', course_id = course.id) }}">Назад</a>
            </form>

        </div>
    </div>

    {{ footer(current_user) }}

</div>
</body>
</html>