.material {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.material__label {
    font-size: 35px;
    font-weight: 400;
    margin: 15px 0;
}

.material__input {
    padding: 5px;
    background: white;
    width: 100%;
    font-size: 25px;
    border: 2px solid #6f4495;
}

.material__btn {
    margin: 15px 0;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 25px;
    background: linear-gradient(#6f4495, #f64c72);
    color: aliceblue;

    transition: 1s;
}

.material__btn:hover {
    color: #242582;
}

.back {
    text-decoration: none;
}





