<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- general -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="https://kit.fontawesome.com/8cf596884a.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>


<div class="wrapper">

    {% from 'macro/headerMacro.html' import header %}
    {% from 'macro/footerMacro.html' import footer %}

    {{ header(current_user) }}


    <div class="content">
        <div class="container">
            <div class="authorizationForm">
                <div class="authorizationForm__row">
                    <form class="loginForm" method="POST" action="{{ url_for("login_page") }}">

                        <label class="form__label">Login</label>

                        <input class="login__input" type="text" name="login_input" id="login_input">


                        <label class="form__label">Password</label>

                        <div class="password">
                            <input class="password__input" type="password" name="password_input" id="password_input">
                            <i class="fas fa-eye-slash password__icon" id="showPassword" onclick="showHidePassword()"
                               style="display: none"></i>
                            <i class="fas fa-eye password__icon" id="hidePassword" onclick="showHidePassword()"></i>
                        </div>


                        <button class="loginButton" type="submit">Login</button>



                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="login__error">
                                    <ul class=flashes>
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}



                        <div>
                            <a class="registrationLink" href={{ url_for('registration_page') }}>Не
                                зарегестрированны?</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    {{ footer(current_user) }}

</div>
</body>
</html>